<form method="post" action="/home/CreateMovie">
    <input type="text" name="title" placeholder="Movie Title" /><br />
    <input type="text" name="summary" placeholder="Movie Summary" /><br />
    <input type="text" name="imageUrl" placeholder="Movie Poster Url" /><br />
    <input type="submit" />
</form>